<div class=" col-xs-12 col-md-12 col-lg-6">
  <div class="well gigResult container-fluid" id="<%= result.id %>">
  
            <% headliners=[];
               supportingActs=[];
               result.performances.each do |artist|
                 if (artist.billing=='headline') then
                  headliners.push(artist.display_name)
                 else
                  supportingActs.push(artist.display_name)
                 end
               end
            %>
                <div class="headliners"><a href="<%= result.uri %>" target="_blank"><%= headliners.to_sentence %></a></div> 
                <% if supportingActs.any? %><div class="supporting-acts">with <span class="supporting-names"><%= supportingActs.to_sentence %></span></div><% end %>
                <div class="venue" data-lat="<%= result.venue.lat %>" data-lng="<%= result.venue.lng %>" data-venue-name="<%= result.venue.display_name %>">
                    <span class="highlight">Venue:</span> <span class="venue-name"><%= result.venue.display_name() %></span>
                    <a href="<%= result.venue.uri %>" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
                <div class="start-time">
                    <i class="fa fa-clock-o"></i> <%= result.start.strftime("%l:%M %p") %>
                </div>
            
        <div class="panel panel-default artists">
            <div class="panel-heading show-artists" role="tab" id="headingOne" data-toggle="collapse" href="#collapse<%= result.id %>" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">
                  All Artists<span class="pull-right expand">&plus;</span>
              </h4>

            </div>
            <div id="collapse<%= result.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              
                <ul class="list-group">
                    <% result.performances.each do |performance| %>
                        <li class="list-group-item">
                            <%= performance.display_name %>
                            <a href='#' data-songkick-band-id="<%= performance.artist.id %>" class="youtube-search pull-right">
                              <i class="fa fa-youtube fa-2x"></i>
                            </a>
                            
                        </li>

                    <% end %>
                </ul>
            </div>
          </div>
        <div class="btn-actions">
          <a href='#' data-songkick-id="<%= result.id %>" class="map-marker" data-toggle="tooltip" title="Show on map"><i class="fa fa-compass fa-2x"></i></a>
          <a href='#' data-songkick-id="<%= result.id %>" class="spotify-list" data-toggle="tooltip" title="Spotify playlist"><i class="fa fa-spotify fa-2x"></i></a>
        </div> 
  </div>              
</div>
