	  	<% if (results.length > 0) then startDay = results.first.start.day end %>
		<% results.each do |result| %>
		<% if (startDay != result.start.day) then %>
			<div class="seperator">
				<%= result.start.strftime("%d %b %Y") %>
				</div>
		<% startDay = result.start.day
		end %>
		<div class="jumbotron gigResult">
			<h2><%= result.display_name %></h2> 

			<%= result.location.city %> <br>
			<%= result.venue.display_name %> <br>
			<%= result.start.strftime("%d %b %Y") %> <br>
		<div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" href="#collapse<%= result.id %>" aria-expanded="true" aria-controls="collapseOne">
		      <h4 class="panel-title">
		        <a role="button" data-parent="#accordion" >
		          Artists
		        </a>

		      <button type="button" data-songkick-id="<%= result.id %>" class="btn btn-default spotify-list pull-right">Spotify!</button>
		      <div class="clearfix"></div>
		      </h4>

		    </div>
		    <div id="collapse<%= result.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        <ul class="list-group">
					<% result.performances.each do |performance| %>
						<li class="list-group-item">
							<%= performance.display_name %>
						</li>

					<% end %>
				</ul>
		      </div>
		    </div>
		  </div>
				
			</div>

		<% end %>
		<% if defined? @metro then %>
			<div id="metro-id" data-metro="<%= @metro %>"></div>
			<div id="page" data-page-number="2"></div>
		<% end %>